nav {
    box-shadow: -1px 11px 19px -5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: -1px 11px 19px -5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: -1px 11px 19px -5px rgba(0,0,0,0.05);
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    padding: 0 3rem;
    box-sizing: border-box;
    position: fixed;
    transition: 0.3s ease-in-out;
}

nav picture img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.1rem;
}

nav ul li a {
    text-decoration: none;
    color: #272727;
    background-color: transparent;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: 0.3s ease-out;
    font-size: 0.95rem;
}

nav ul a:nth-child(3) {
    text-decoration: none;
    background-color: rgb(13, 35, 97);
    margin-left: 0.5rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: 0.3s ease-out;
    font-size: 0.95rem;
    color: rgb(239, 246, 255)
}

nav ul a:nth-child(3):hover {
    background-color: rgba(29, 78, 216);
}

nav ul a:hover {
    background-color: rgba(29, 78, 216, 0.5);
}

.navRefresh {
    background-color: rgb(239, 246, 255);
}

/* MEDIA QUERIES */


@media screen and (max-width: 490px) {
    nav {
        padding: 0 1rem;
    }
    nav ul {
        gap: 0;
    }
}

@media screen and (max-width: 415px) {
    nav {
        padding: 0.5rem;
    }
    nav ul li a, nav ul a:nth-child(3) {
        font-size: 0.85rem;
        padding: 0.5rem 0.7rem;
    }
    nav ul li a {
        display: none;
    }
}